<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/Hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Mohit@123</property>

		<!-- To let the hibernate know ehich SQL you are using -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Display all executed SQL quries to console -->
		<property name="show_sql">true</property>

		<!-- To Format the SQL quries -->
		<property name="format_sql">true</property>

		<!-- Mention annotated class -->
		<mapping class="com.entities.Note"/>

	</session-factory>
</hibernate-configuration>